<div class="spinner-grow text-primary" role="status">
    
    <span class="sr-only">Loading... </span>
</div>
<span>@ChildContent </span>
@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
